**Student ID's:** Sumeet Kumar - s222615086 | Akash Verma - s223669999 | HO-SE Kim - s224564517

**Student Name's:** Sumeet Kumar | Akash Verma | HO-SE Kim

**Workshop / Lab Session Time:** Tuesday - 11:00 AM

**Part I**

**Set Up & Data Loading**

In [ ]:
# Import necessary libraries
from pyspark.sql import SparkSession

# Creating a Spark session
spark = SparkSession.builder.appName("SIT742Assignment").getOrCreate()

# Loading the dataset
df = spark.read.csv("/content/drive/MyDrive/SIT742Assignment/transactionrecord.csv", header=True)

# Showing the schema to ensure correct loading
df.printSchema()

root
 |-- TransactionNo, Date , ProductNo , ProductName , Product_category , Price,Quantity , CustomerNo , Country: string (nullable = true)

**Question 1.1**

**Answer 1.1.1**

In [ ]:
from pyspark.sql.functions import col, regexp_replace

# Replacing 'NA' in CustomerNo column with '-1'
df = df.withColumn('CustomerNo', regexp_replace(col('CustomerNo'), 'NA', '-1'))

# Showing first 5 rows to verify the replacement
df.select('CustomerNo').show(5)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `CustomerNo` cannot be resolved. Did you mean one of the following? [`TransactionNo, Date , ProductNo , ProductName , Product_category , Price,Quantity , CustomerNo , Country`].;
'Project [TransactionNo, Date , ProductNo , ProductName , Product_category , Price,Quantity , CustomerNo , Country#160, regexp_replace('CustomerNo, NA, -1, 1) AS CustomerNo#166]
+- Relation [TransactionNo, Date , ProductNo , ProductName , Product_category , Price,Quantity , CustomerNo , Country#160] csv